
        h2 {
            color: #013266;
        }

        h3 {
            color: #013266;
        }

        body {
            background-color: #f0f8ff;
        }

                .div2 {
            width: 200px;
            height: 65px;
            overflow: auto;
            outline: 1px solid red;
            margin-top: 5px;  

        }


         table {
            background-color: white;
            width: fit-content;
            border: 1px solid;
            padding: 5px;

        } 

        
        input[type="Submit"],input[type="Reset"]
        {
            display: inline;
            background-color:blue;
            color: white;
            border: none;
            margin-left: 20px;
            margin-bottom: auto;
            margin-top: auto;
            padding: 5px;
            
        }

